<header class="header">
    <!-- Header Top Bar -->
    <!--<div class="header__top-bar clearfix">
        <div class="container">
            <ul class="nav-account">
                <li class="nav-account__item"><%= link_to 'Liên Hệ', erp_thaikimsa.contact_us_path, title: '' %></li>
                <li class="nav-account__item"><%= link_to 'Hỗ Trợ', erp_thaikimsa.guide_path, title: '' %></li>
                <li class="nav-account__item"><%= link_to 'Phong Thủy', erp_thaikimsa.article_listing_path, title: '' %></li>
                <li class="nav-account__item"><%= link_to 'Tử Vi', erp_thaikimsa.article_listing_path, title: '' %></li>
                <li class="nav-account__item"><%= link_to 'Trang Chủ', erp_thaikimsa.root_path, title: '' %></li>
            </ul>
        </div>
    </div>-->
    <!-- Header Top Bar / End -->
    <!-- Header Secondary -->            
    <div class="header__secondary" onclick="location.href='/'">        
        <%= image_tag "/thaikimsa/assets/images/main-banner-01.png", alt: "", class: "banner-top-01" %>
    </div>            
    <!-- Header Secondary / End -->
    <!-- Header Primary -->
    <div class="header__primary">
        <div class="container">
            <div class="header__primary-inner">
                <!-- Main Navigation -->
                <nav class="main-nav clearfix">
                    <ul class="main-nav__list">
                        <li class="active">
                            <%= link_to 'Trang Chủ', erp_thaikimsa.root_path, title: 'Trang Chủ' %>
                            <ul class="main-nav__sub">
                                <li><%= link_to 'Giới Thiệu', erp_thaikimsa.about_us_path, title: 'Giới Thiệu' %></li>
                                <li><%= link_to 'Hỗ Trợ', erp_thaikimsa.guide_path, title: 'Hỗ Trợ' %></li>                                      
                            </ul>
                        </li>
                        <li class="">
                            <%= link_to 'Tử Vi', 'javascript:void(0)', title: 'Tử Vi' %>
                            <ul class="main-nav__sub">
                                <li><%= link_to 'Giải Đoán Vận Hạn Năm 2018', erp_thaikimsa.register_01_path, title: 'Giải Đoán Vận Hạn Năm 2018' %></li>
                                <li><%= link_to 'Giải Đoán Ngày Tháng Vận Hạn Trong Năm 2018', erp_thaikimsa.register_01_path, title: 'Giải Đoán Ngày Tháng Vận Hạn Trong Năm 2018' %></li>
                                <li><%= link_to 'Chọn Lá Số Tốt Để Sinh Mổ', erp_thaikimsa.register_01_path, title: 'Chọn Lá Số Tốt Để Sinh Mổ' %></li>                                
                            </ul>
                        </li>
                        <li class="">
                            <%= link_to 'Phong Thủy Huyền Không Đại Quái', 'javascript:void(0)', title: 'Phong Thủy Huyền Không Đại Quái' %>
                            <ul class="main-nav__sub">
                                <li><%= link_to 'Chọn Đất Xây Nhà', erp_thaikimsa.register_02_path, title: 'Chọn Đất Xây Nhà' %></li>
                                <li><%= link_to 'Thiết Kế Nhà Theo Phong Thủy', erp_thaikimsa.register_02_path, title: 'Thiết Kế Nhà Theo Phong Thủy' %></li>
                                <li><%= link_to 'Kích Tài Ngôi Nhà Của Bạn', erp_thaikimsa.register_02_path, title: 'Kích Tài Ngôi Nhà Của Bạn' %></li>
                            </ul>
                        </li>
                        <li class="">
                            <%= link_to 'Kiến Thức', erp_thaikimsa.article_listing_path, title: '' %>
                            <ul class="main-nav__sub">
                                <li><%= link_to 'Kiến Thức Phong Thủy', erp_thaikimsa.article_listing_path, title: '' %></li>
                                <li><%= link_to 'Kiến Thức Tử Vi', erp_thaikimsa.article_listing_path, title: '' %></li>
                                <li><%= link_to 'Nhân Tướng Học', erp_thaikimsa.article_listing_path, title: '' %></li>
                                <li><%= link_to 'Kiến Thức Tứ Trụ - Bát Tự', erp_thaikimsa.article_listing_path, title: '' %></li>
                                <li><%= link_to 'Nghi Lễ', erp_thaikimsa.article_listing_path, title: '' %></li>
                                <li><%= link_to 'Tâm Linh', erp_thaikimsa.article_listing_path, title: '' %></li>
                                <li><%= link_to 'Pháp Cụ', erp_thaikimsa.article_listing_path, title: '' %></li>
                                <li><%= link_to 'Kiến Thức Phổ Thông', erp_thaikimsa.article_listing_path, title: '' %></li>
                            </ul>
                        </li>
                        <li class=""><%= link_to 'Liên Hệ', erp_thaikimsa.contact_us_path, title: 'Liên Hệ' %></li>
                    </ul>
                </nav>
                <!-- Main Navigation / End -->
            </div>
        </div>
    </div>
    <!-- Header Primary / End -->
    <!-- Header Secondary -->            
    <div class="header__secondary" onclick="location.href='/'">        
        <%= image_tag "/thaikimsa/assets/images/main-banner-02.png", alt: "", class: "banner-top-01" %>
    </div>            
    <!-- Header Secondary / End -->
</header>