<!DOCTYPE html>
<html lang="vi">

<head>
    <!-- Basic Page Needs ================================================== -->
    <title>Trang Chủ - Phong Thủy Cổ Điển ThaiKimSa.Com</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    
    <!-- Favicons ================================================== -->
    <%= favicon_link_tag '/thaikimsa/assets/images/favicons/favicon.png', rel: 'shortcut icon' %>
    <%= favicon_link_tag '/thaikimsa/assets/images/favicons/favicon-120.png', rel: 'apple-touch-icon', sizes: '120x120' %>
    <%= favicon_link_tag '/thaikimsa/assets/images/favicons/favicon-150.png', rel: 'apple-touch-icon', type: '150x150' %>
    
    <!-- Mobile Specific Metas ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    
    <!-- Google Web Fonts ================================================== -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900' %>
    
    <!-- CSS ================================================== -->
    <!-- Vendor CSS -->
    <%= stylesheet_link_tag '/thaikimsa/assets/vendor/bootstrap/css/bootstrap.css' %>
    <%= stylesheet_link_tag '/thaikimsa/assets/fonts/font-awesome/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag '/thaikimsa/assets/fonts/simple-line-icons/css/simple-line-icons.css' %>
    <%= stylesheet_link_tag '/thaikimsa/assets/vendor/magnific-popup/dist/magnific-popup.css' %>
    <%= stylesheet_link_tag '/thaikimsa/assets/vendor/slick/slick.css' %>
    
    <!-- Template CSS-->
    <%= stylesheet_link_tag '/thaikimsa/assets/css/style.css' %>
    
    <!-- Custom CSS-->
    <%= stylesheet_link_tag '/thaikimsa/assets/css/custom.css' %>
</head>

<body class="template-football">
    <div class="site-wrapper clearfix">
        
        <div class="site-overlay"></div>
        
        <!-- Header Mobile ================================================== -->
        <%= render "erp/thaikimsa/frontend/modules/header_mobile" %>
        <!-- Header Mobile End -->
        
        
        <!-- Header Desktop -->
        <%= render "erp/thaikimsa/frontend/modules/header" %>
        <!-- Header / End -->
        
        <!-- Content ================================================== -->
        <%= yield %>
        <!-- Content End -->
        
    </div>
    
    <!-- Footer ================================================== -->
    <%= render "erp/thaikimsa/frontend/modules/footer" %>
    <!-- Footer End -->
    
    <!-- Javascript Files ================================================== -->
    <%= render "erp/thaikimsa/frontend/modules/javascripts" %>
</body>

</html>